<div class="login-status-header"  #rightpos>

    <div class="hide-name"  *ngIf="isAuthenticated && userFullName" class="login-status-user-info">
        Welcome back {{ userFullName }}!
    </div>

    <button  class="col-login"*ngIf="!isAuthenticated" routerLink="/login" class="security-btn">Login</button>

    <button  class="col-logout"*ngIf="isAuthenticated" (click)="logout()" class="security-btn">Logout</button>

    <button  class="col-members" *ngIf="isAuthenticated" routerLink="/members" class="security-btn ml-1">Member</button>

    <button  class="hide-orders"*ngIf="isAuthenticated" routerLink="/order-history" class="security-btn ml-1">Orders</button>

</div>